<p>Hi <%=@user.first_name%>,</p>
<p>Your payment for order #<%=@order.id %> was succesfully placed in our system</p>
<p>Pickup time predicted at around:<time datetime=""> <%= @order_pickup_time %> </time> </p>
<p>Please find details in this link:</p>
<p>Sincerly</p>
<p>MyDinner team</p>