<div class="welcome">
  <div class="welcome-image">
  </div>
  <div class="welcome-info">
  	<h1>My Dinner</h1>
  	<h2>Food made easy for everyone</h2>
  	<p>The Thompson Diner is a creative interpretation of the classic American favourite, offering modern fare with a refined twist. Shareables, great cocktails, tasty local desserts, and fresh pressed juices from Greenhouse Juicery, round out a menu featuring classic diner favourites like burgers, milkshakes, omelettes, and great fries of course. This ingredient focused, neighborhood hot spot, is open from 6 am to 3 am daily, and for brunch on weekends.
  	</p>
  	<p class="welcome-info-social-media">Follow us on Facebook and Instagram </p>
  </div>
  <div class="welcome-slide-menu">
  </div>
  <div class="welcome-customer-feedback">
  </div>
</div>

