<div class="cart-checkout">
  <div class="shopping-cart">
    <%= render "carts/shopping_cart", line_item: @line_item, line_items: @line_items %>
  
    
  </div>
  <div class="well shopping-cart-total">
    <%= render "carts/shopping_cart_total", line_item: @line_item, line_items: @line_items%>
  </div>
</div>
<div class="checkout-button">
      <%= render 'carts/checkout_button'%>
    </div>


