<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Proceed to payment</h1>
    <div class='select-payment'>
      <button class='credit-button' >Stripe</button>
      <button class='paypal-button'>Paypal</button>
    </div>
    <div class="well">
        <%= render 'payments/credit_card_form' %>
        <%= render 'payments/paypal_form' %>
    </div>
  </div>
</div>
    
    

<script type="text/javascript" src="https://securionpay.com/js/securionpay.js"></script>

<script type="text/javascript">
  // This is required to identify your account
  Securionpay.setPublicKey('pk_test_gADSExpVSWDlLXDDQyRv6fFN');
</script>
<script type="text/javascript">
  $('#payment-form').submit(function(e) {
    var form = $('#payment-form');
    
    // Disable form submit button to prevent repeatable submits
    form.find('button').prop('disabled', true);
    
    // Send card data to SecurionPay
    Securionpay.createCardToken(form, createCardTokenCallback);
  
    // Prevent the form from submitting default action
    return false;
  });

  function createCardTokenCallback(token) {
  var form = $('#payment-form');
  
  // Check for errors
  if (token.error) {
    // Display error message
    form.find('.payment-errors').text(token.error.message);
    // Re-enable form submit button
    form.find('button').prop('disabled', false);
  } else {
    // Append token to the form so that it will be send to server
    form.append($('<input type="hidden" name="token" />').val(token.id));

    // Submit the form with its default action
    form.unbind();
    form.submit();
  }
}
</script>

<script type="text/javascript">

  var creditButton = document.querySelector('.credit-button')
  var paypalButton = document.querySelector('.paypal-button')
  var creditCardFrom = document.querySelector('.credit-card-form') 
  var paypalCardFrom = document.querySelector('.paypal-form')
  function selectCreditButtonHandler () {
    paypalCardFrom.style.display = 'none';
    creditCardFrom.style.display = ''
  }

  function selectPaypalButtonHandler () {
    creditCardFrom.style.display = 'none';
    paypalCardFrom.style.display = '';
  }

  (function hidePaypla(){
    paypalCardFrom.style.display = 'none';
  })()

  creditButton.addEventListener('click', selectCreditButtonHandler)
  paypalButton.addEventListener('click', selectPaypalButtonHandler)
</script>