<%= form_for @item do |form| %>
  
  <div class='field'>
    <%= f.label :name, placeholder: 'Name' %>
    <%= f.input :name %>
  </div>
  <div class='field'>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
