<p id="notice"><%= notice %></p>

<h3>Browse By Categories</h3>
<%= form_with url: items_path,method: :get do |form| %>
  <div class='form-group'>
    <%= form.select  :category, Item.item_category_types.each_pair {|k,v| [k,v]},{:include_blank => true}, { class: 'form-control', onchange: 'this.form.submit();' } %>
  </div>
<% end %>
<div class="row items">
  <div class="col-xs-6 col-xs-offset-3">
    <% @items.each do |item| %>
      <%= render "item", item: item, line_item: @line_item %>
    <% end %>
  </div>
</div>

<br>

