// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
	display: grid;
	grid-template-columns: repeat(3,auto);
	grid-template-rows: repeat(5, auto);
	grid-gap: 20px;
}

.item {
	width: 400px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(2,auto);
	grid-template-rows: repeat(2, auto);
	grid-gap: 5px;
	.item-form  {
		width: 100%;
		margin-left: 0px;
		.input-group {
			width:135px;
			#line_item_quantity {
			
			
			}
		}
	}
}

.reviews {
	#review-form{
		width:100%;
		#review_title{
			height:30px;
		}
		#review_body{
			height:50px;
		}
		
	}
}

