// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
	display: grid;
	grid-template-columns: repeat(3,auto);
	grid-template-rows: repeat(5, auto);
	grid-gap: 20px;
}

.item {
	display: grid;
	grid-template-columns: repeat(2,auto);
	grid-template-rows: repeat(2, auto);
}