// Place all the styles related to the Review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-a {
    color: #888;
} 
.icon-star-empty {
    color: orange;
}
.icon-star-empty {
    color: yellow;
}
.icon-star-full {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.radio-inline {
	margin: 0;
	padding: 0;
}

.reviews form {
	padding-bottom: 20px;
}